@import url(https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext);
html {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: roboto, sans-serif;
  font-size: 12pt;
  color: #263238; }

body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }

header {
  width: 100%;
  min-width: 360px;
  background: #607d8b;
  color: #FFF;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center; }
  header > * {
    margin: 1rem; }

.header-login {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap; }
  .header-login input {
    border: none;
    padding: .2rem; }
  .header-login span {
    padding: 0 1rem; }

main {
  position: relative;
  width: 100%;
  max-width: 960px;
  min-width: 360px;
  margin: auto;
  padding: 0 1rem;
  box-sizing: border-box;
  flex-grow: 1; }

.list {
  width: 100%; }
  .list ul {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }

.list-card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 1rem 2rem;
  min-width: 250px;
  margin-bottom: 1rem; }
  .list-card img {
    max-width: 100%; }

.info {
  width: 100%;
  position: fixed;
  top: 0;
  background: #FF4081;
  color: #FFF;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12); }
  .info > * {
    margin: 1rem; }

.button {
  line-height: 24px;
  border-radius: 2px;
  padding: 0 .3rem;
  cursor: pointer;
  display: inline-block; }
  .button:hover {
    background: rgba(0, 0, 0, 0.2); }

.icon-button {
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 12px !important; }

.review-item {
  border-bottom: 1px solid #ebeff1;
  padding: 1rem; }

.detail {
  padding: 1rem; }

.user {
  font-weight: bold; }

.invisible {
  visibility: hidden; }

.review-form textarea {
  resize: none;
  width: 100%; }

.star-rate {
  position: relative;
  height: 24px; }
  .star-rate span {
    position: absolute;
    top: 0;
    font-size: 10pt;
    padding-left: 130px;
    line-height: 24px; }

.star-rate-stars {
  height: 100%;
  width: 120px;
  background: url("../img/ic_star_border_24px.svg"); }

.star-rate-star {
  position: absolute;
  height: 100%; }
  .star-rate-star:hover, .star-rate-star.rated {
    background: url("../img/ic_star_24px.svg"); }

#star1 {
  width: 24px; }

#star2 {
  width: 48px; }

#star3 {
  width: 72px; }

#star4 {
  width: 96px; }

#star5 {
  width: 120px; }
