<div class="list">
  <ul>
    <li class="list-card" ng-repeat="product in list.products">
      <h3><a ng-href="#/product/{{product.id}}">{{product.title}}</a></h3>
      <img ng-src="http://smktesting.herokuapp.com/static/{{product.img}}">
      <p>{{product.text}}</p>
    </li>
  </ul>
</div>