<div ng-hide="login.isSign()">
  <input name="username" placeholder="username" ng-model="login.user">
  <input type="password" name="password" placeholder="password" ng-model="login.pass">
  <div class="button" ng-click="login.login()">login</div>
  <div class="button" ng-click="login.register()">register</div>
</div>
<div ng-show="login.isSign()">
  <span>Hello, {{login.user}}!</span>
  <div class="button" ng-click="login.logout()">logout</div>
</div>
