<div class="product">
  <div class="detail">
    <h3>{{product.detail[0].title}}</h3>
    <img ng-src="http://smktesting.herokuapp.com/static/{{product.detail[0].img}}">
    <p>{{product.detail[0].text}}</p>
  </div>
  <ul class="review">
    <li class="review-item review-form">
      <div class="star-rate">
        <span>{{product.review.rate}} stars</span>
        <ul class="star-rate-stars">
          <li id="star5" class="star-rate-star" ng-click="product.review.setRate(5)"></li>
          <li id="star4" class="star-rate-star" ng-click="product.review.setRate(4)"></li>
          <li id="star3" class="star-rate-star" ng-click="product.review.setRate(3)"></li>
          <li id="star2" class="star-rate-star" ng-click="product.review.setRate(2)"></li>
          <li id="star1" class="star-rate-star" ng-click="product.review.setRate(1)"></li>
        </ul>
      </div>
      <textarea placeholder="type your review here" ng-model="product.review.text"></textarea>
      <div class="button" ng-click="product.review.submit()">submit review</div>
    </li>
    <li class="review-item" ng-repeat="review in product.reviews | orderBy:'-created_at'">
      <p><span class="user">{{review.created_by.username}}</span> at {{review.created_at | date : "dd.MM.yyyy"}}</p>
      <p>rate: {{review.rate}}</p>
      <p>{{review.text}}</p>
    </li>
  </ul>
</div>